In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
pd.set_option('display.min_rows', 500)

In [2]:
# Reading data from csv file
df_coffee = pd.read_csv("data/psd_coffee.csv")
df_coffee.head()

,Commodity_Code,Commodity_Description,Country_Code,Country_Name,Market_Year,Calendar_Year,Month,Attribute_ID,Attribute_Description,Unit_ID,Unit_Description,Value
0,711100,"Coffee, Green",AG,Algeria,2003,2012,6,29,Arabica Production,2,(1000 60 KG BAGS),0.0
1,711100,"Coffee, Green",AG,Algeria,2003,2012,6,90,Bean Exports,2,(1000 60 KG BAGS),0.0
2,711100,"Coffee, Green",AG,Algeria,2003,2012,6,58,Bean Imports,2,(1000 60 KG BAGS),1800.0
3,711100,"Coffee, Green",AG,Algeria,2003,2012,6,20,Beginning Stocks,2,(1000 60 KG BAGS),0.0
4,711100,"Coffee, Green",AG,Algeria,2003,2012,6,125,Domestic Consumption,2,(1000 60 KG BAGS),1805.0

In [3]:
# Removing unnecessary data(columns and rows)
df_coffee = df_coffee[['Country_Name', 'Market_Year',
                       'Attribute_Description','Value']]
attr_rmlist = ['Beginning Stocks', 'Ending Stocks', 'Other Production', 'Total Distribution', 'Total Supply']
df_coffee = df_coffee[~df_coffee['Attribute_Description'].isin(attr_rmlist)]
df_coffee.head(10)

   Country_Name  Market_Year   Attribute_Description   Value
0       Algeria         2003      Arabica Production     0.0
1       Algeria         2003            Bean Exports     0.0
2       Algeria         2003            Bean Imports  1800.0
4       Algeria         2003    Domestic Consumption  1805.0
6       Algeria         2003                 Exports     0.0
7       Algeria         2003                 Imports  1805.0
9       Algeria         2003              Production     0.0
10      Algeria         2003  Roast & Ground Exports     0.0
11      Algeria         2003  Roast & Ground Imports     0.0
12      Algeria         2003      Robusta Production     0.0

In [4]:
df_coffee['Attribute_Description'].unique()

array(['Arabica Production', 'Bean Exports', 'Bean Imports',
       'Domestic Consumption', 'Exports', 'Imports', 'Production',
       'Roast & Ground Exports', 'Roast & Ground Imports',
       'Robusta Production', 'Rst,Ground Dom. Consum',
       'Soluble Dom. Cons.', 'Soluble Exports', 'Soluble Imports'],
      dtype=object)

In [5]:
def separateData(attr):
    df = df_coffee.loc[df_coffee['Attribute_Description']==attr]
    df.drop(['Attribute_Description'], axis=1, inplace=True)
    df = df.rename(columns={'Market_Year':'Year'})
    return df

In [6]:
df_production = separateData("Production")
df_arabicaProduction = separateData("Arabica Production")
df_robustaProduction = separateData("Robusta Production")

C:\Users\Abraham\anaconda3\envs\envcoffee\lib\site-packages\pandas\core\frame.py:4312: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [7]:
df_production

      Country_Name  Year   Value
9          Algeria  2003     0.0
28         Algeria  2004     0.0
47         Algeria  2005     0.0
66         Algeria  2006     0.0
85         Algeria  2007     0.0
104        Algeria  2008     0.0
123        Algeria  2009     0.0
142        Algeria  2010     0.0
161        Algeria  2011     0.0
180        Algeria  2012     0.0
199        Algeria  2013     0.0
218        Algeria  2014     0.0
237        Algeria  2015     0.0
256        Algeria  2016     0.0
275        Algeria  2017     0.0
294        Algeria  2018     0.0
313        Algeria  2019     0.0
332        Algeria  2020     0.0
351        Algeria  2021     0.0
370         Angola  1961  2500.0
389         Angola  1962  2800.0
408         Angola  1963  2500.0
427         Angola  1964  2691.0
446         Angola  1965  2487.0
465         Angola  1966  3057.0
484         Angola  1967  3691.0
503         Angola  1968  3458.0
522         Angola  1969  3525.0
541         Angola  1970  3368.0
560         Angola  1971  2794.0
...            ...   ...     ...
73748     Zimbabwe  1992   201.0
73767     Zimbabwe  1993    78.0
73786     Zimbabwe  1994    12.0
73805     Zimbabwe  1995   106.0
73824     Zimbabwe  1996   131.0
73843     Zimbabwe  1997   174.0
73862     Zimbabwe  1998   130.0
73881     Zimbabwe  1999   149.0
73900     Zimbabwe  2000   125.0
73919     Zimbabwe  2001   109.0
73938     Zimbabwe  2002   121.0
73957     Zimbabwe  2003   110.0
73976     Zimbabwe  2004    92.0
73995     Zimbabwe  2005   120.0
74014     Zimbabwe  2006    66.0
74033     Zimbabwe  2007    45.0
74052     Zimbabwe  2008    31.0
74071     Zimbabwe  2009    22.0
74090     Zimbabwe  2010     0.0
74109     Zimbabwe  2011     0.0
74128     Zimbabwe  2012     0.0
74147     Zimbabwe  2013     0.0
74166     Zimbabwe  2014     0.0
74185     Zimbabwe  2015     0.0
74204     Zimbabwe  2016     0.0
74223     Zimbabwe  2017     0.0
74242     Zimbabwe  2018     0.0
74261     Zimbabwe  2019     0.0
74280     Zimbabwe  2020     0.0
74299     Zimbabwe  2021     0.0

[3911 rows x 3 columns]